{% extends 'base.html' %}

{% block title %}Minizon{% endblock title %}

{% block content %}

	<div class="jumbotron">
		<h1><center>Minizon</center></h1>
		<h2><em><center>Where each purchase you make sprouts something new</center></em></h2>
		<a href="#" class="btn btn-primary">Learn More</a>
		<a href="#" class="btn btn-success">Contact Us</a>
	</div>

	<div class="row-fluid marketing">
		<div class="col-md-4">
		<h3>One</h3>
			<p>Lorem ipsum dolor sit amet, vestibulum purus rutrum wisi lacinia proident ante, porttitor magna, eget augue erat, risus enim faucibus elementum eu dignissim, suscipit vitae mollis donec vestibulum lobortis. Curabitur pede, a nec, lacus auctor nam luctus sollicitudin ac vitae, aliquet eu nam sed phasellus ullamcorper, orci rhoncus. Elementum cursus nunc pellentesque qui sed porttitor, mollis vivamus arcu ut elit, dictumst mi. Id dui lorem, posuere nullam, feugiat hendrerit magna commodo felis porta in. Lorem cras id eros velit. Praesent magna et enim penatibus, eros arcu non hendrerit, nibh volutpat nunc vitae. Eu magnis cras vitae neque elit, non justo nulla sem, pede mattis amet feugiat. Mauris in, a id lectus, dictum bibendum sem ipsum diam, dolor nec sodales et molestie, a quam eu. Nunc nullam ut ac, dapibus lectus ut erat vestibulum condimentum, sem est sunt conubia eu eu mauris.</p>
		</div>
		<div class="col-md-4">
			<h3>Two</h3>
			<p>Lorem ipsum dolor sit amet, vestibulum purus rutrum wisi lacinia proident ante, porttitor magna, eget augue erat, risus enim faucibus elementum eu dignissim, suscipit vitae mollis donec vestibulum lobortis. Curabitur pede, a nec, lacus auctor nam luctus sollicitudin ac vitae, aliquet eu nam sed phasellus ullamcorper, orci rhoncus. Elementum cursus nunc pellentesque qui sed porttitor, mollis vivamus arcu ut elit, dictumst mi. Id dui lorem, posuere nullam, feugiat hendrerit magna commodo felis porta in. Lorem cras id eros velit. Praesent magna et enim penatibus, eros arcu non hendrerit, nibh volutpat nunc vitae. Eu magnis cras vitae neque elit, non justo nulla sem, pede mattis amet feugiat. Mauris in, a id lectus, dictum bibendum sem ipsum diam, dolor nec sodales et molestie, a quam eu. Nunc nullam ut ac, dapibus lectus ut erat vestibulum condimentum, sem est sunt conubia eu eu mauris.</p>
		</div>
		<div class="col-md-4">
			<h3>Three</h3>
			<p>Lorem ipsum dolor sit amet, vestibulum purus rutrum wisi lacinia proident ante, porttitor magna, eget augue erat, risus enim faucibus elementum eu dignissim, suscipit vitae mollis donec vestibulum lobortis. Curabitur pede, a nec, lacus auctor nam luctus sollicitudin ac vitae, aliquet eu nam sed phasellus ullamcorper, orci rhoncus. Elementum cursus nunc pellentesque qui sed porttitor, mollis vivamus arcu ut elit, dictumst mi. Id dui lorem, posuere nullam, feugiat hendrerit magna commodo felis porta in. Lorem cras id eros velit. Praesent magna et enim penatibus, eros arcu non hendrerit, nibh volutpat nunc vitae. Eu magnis cras vitae neque elit, non justo nulla sem, pede mattis amet feugiat. Mauris in, a id lectus, dictum bibendum sem ipsum diam, dolor nec sodales et molestie, a quam eu. Nunc nullam ut ac, dapibus lectus ut erat vestibulum condimentum, sem est sunt conubia eu eu mauris.</p>
		</div>
	</div>

{% endblock %}